*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;

}

.nevbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fcf7f7;
    z-index: 9;
}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}
.brand-logo{
    height: 200px;
}
.nev-items{
    display: flex;
    align-items: center;
}
.search{
    width: 590px;
    display: flex;
    padding: 93px;
}
.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
}
.search-box::placeholder{
    color: #a9a9a9;
}
.search a{
    margin-left: 25px;

}
.search a img{
    width: 30px;
    margin-top: 5px;

}
.links-containers{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #0f0d0d;

}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    transition: .5s;
}
.link:hover{
    opacity:1;
    font-size: 22px;
    color: #5a275ab6;
}